body {
    margin: 0;
    color: cadetblue
}
  main {
    padding-bottom: 50px;
}
#myCanvas {
    display: block;
    width: 90%;
    height: 500px;
    margin: 20px auto;
}
#container {
    width: 60%;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    box-shadow: 
    0 -6px white,        
    0 6px white,          
    10px 0 10px -1px grey,  
    -2px 0 2px -2px gray;
    background-color: black;
}
header, footer {
    color: cadetblue;
    font-style: oblique;
}
header {
    border-bottom: 3px solid cadetblue;
}
li {
    list-style: none;
}
h2, h4 {
    margin-left: 10px;
}
#log, #reg {
    margin-right: 15px;
}
.git {
    height: 30px;
    margin-top: 10px;
    margin-right: 10px; 
    text-decoration: none; 
    color: cadetblue; 
    font-family: impact; 
    font-size: 20px;
    letter-spacing: 2px; 
    font-style: normal;
    padding: 5px;
    transition: color 0.5s ease-in, text-shadow 0.5s ease-in;
}
.git:hover {
    color: black;
    text-shadow: 2px 2px 0 cadetblue;
}
.btn {
    font-weight: bolder;
    outline: 0;
    border: 2px solid cadetblue;
    border-radius: 3px;
    padding: 5px;
    margin-top: 5px;
    background-color: black;
    color: cadetblue;
    transition: color 1s ease, background-color 1s ease;
}
.btn:hover {
    cursor: pointer;
    background-color: cadetblue;
    color: black;
}
#task-form{
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    padding-top: 40px;
}
#task-form label {
    margin-top: 5px;
    font-size: 20px;
}
#task-form input {
    border: 2px solid cadetblue;
    border-radius: 2px;
    background-color: black;
    color: white;
}
#addTask {
    font-size: 16px;
    font-weight: bolder;
    padding: 5px;
    margin-top: 0;
}
#reg {
    display: none;
}
.title-list {
    font-size: 60px;
    color: #5f9ea0;
    text-align: center;
    text-shadow:  2px 2px 3px white;
}
.task-item {
    width: 80%;
    margin: 20px auto;
    overflow: auto;
    box-shadow: 1px 0px 5px 3px cadetblue;
    padding: 5px;
    border-radius: 2px;
}
.task-desc {
    color: white;
    margin-left: 10px; 
    font-size: 20px;
    font-family: Arial Black,Arial Bold,Gadget,sans-serif; 
    transition: opacity 1.5s ease, text-decoration 1.5s ease;
}
.task-item label, .task-item input, .task-item button {
    margin: 10px 10px;
}
.check-label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    padding-right: 30px;
    user-select: none;
}
.check-label #check {
    display: none;
}
.check-label #customCheck {
    display: inline-block;
    position: absolute;
    left: 40;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #d6d6d6;
    margin-left: 10px;
}
.check-label input:checked + #customCheck {
    background-color: cadetblue;
}
.check-label:hover #customCheck {
    background-color: #a9cbcc;
}
.check-label input:checked + #customCheck:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 9px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}
.remove-btn {
    height: 26px;
    width: 26px;
    color: #ba110c;
    font-weight: bolder;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    padding: 0;
    border: 0;
}
.remove-btn:hover {
    background-color: #ba110c;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: cadetblue;
    border-top: 3px solid cadetblue;
  }
  footer h4 {
      margin-bottom: 0;
      margin-top: 10px;
  }
  .intro-section {
      width: 100%;
      height: 87vh;
      text-align: center;
      background-color: black;
      margin: 0 auto;
  }
  .intro-section h1 {
      margin-top: 80px;
  }
  .intro-section p {
      font-size: 20px;
      padding-top: 30px;
  }
  @media only screen and (max-width: 767px) {
      #container {
          width: 90%;
      }
      .task-item {
          width: 90%;
      }
      .remove-btn{
          left: 94.5%;
      }
      #task-form {
          flex-direction: column;
          text-align: center;
      }
      #task-form input, #task-form button {
          width: 50%;
          margin: 10px auto;
      }
  }

  @media only screen and (max-width: 325px) {
      body {
          display: none;
      }
  }