body {
    margin: 0;
  }
#container {
    width: 60%;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    box-shadow: 
    0 -6px white,        
    0 6px white,          
    6px 0 6px -1px grey,  
    -1px 0 1.5px -1px gray;
}
header, footer {
    background-color: cadetblue;
    color: aliceblue;
    font-style: oblique;
}
li {
    list-style: none;
}
h2, h4 {
    margin-left: 10px;
}
header {
    margin-bottom: 50px;
}
#log, #reg {
    margin-right: 15px;
    border: 2px solid white;
}
.git {
    margin: 18px 20px; 
    text-decoration: none; 
    color: white; 
    font-family: impact; 
    font-size: 20px;
    letter-spacing: 2px; 
    font-style: normal;
}
.git:hover {
    color: cadetblue
}
.btn {
    border: 1px solid white;
    border-radius: 2px;
    padding: 5px;
    margin-top: 5px;
    background-color: cadetblue;
    color: aliceblue
}
.btn:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: cadetblue;
}
#task-form{
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
}
#task-form label {
    margin-top: 5px;
    font-size: 20px;
}
#task-form input {
    border: 2px solid cadetblue;
    border-radius: 2px;
}
#addTask {
    color: cadetblue;
    background-color: white;
    border: 2px solid cadetblue;
    font-size: 16px;
    font-weight: bolder;
    padding: 6px;
    margin-top: 0;
}
#addTask:hover {
    background-color: cadetblue;
    color: white;
}
#reg {
    display: none;
}
.title-list {
    font-size: 60px;
    color: #5f9ea0;
    text-align: center;
    text-shadow: 2px 2px 0px whitesmoke, 3px 3px 0px cadetblue;
}
.task-item {
    width: 80%;
    margin: 20px auto;
    overflow: auto;
    box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.15);
    padding: 5px;
}
.task-desc {
    margin-left: 10px; 
    font-size: 20px;
    transition: opacity 1.2s ease, text-decoration 1.2s ease;
}
.task-item label, .task-item input, .task-item button {
    margin: 10px 10px;
}
.check-label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    padding-right: 30px;
    user-select: none;
}
.check-label #check {
    display: none;
}
.check-label #customCheck {
    display: inline-block;
    position: absolute;
    left: 40;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #eee;
    margin-left: 10px;
}
.check-label input:checked + #customCheck {
    background-color: cadetblue;
}
.check-label:hover #customCheck {
    background-color: #a9cbcc;
}
.check-label input:checked + #customCheck:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 9px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}
.remove-btn {
    height: 26px;
    width: 26px;
    color: #ba110c;
    background-color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    padding: 0;
}
.remove-btn:hover {
    color: white;
    background-color: darkred;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #a0785f;
  }

  @media only screen and (max-width: 767px) {
      #container {
          width: 90%;
      }
      .task-item {
          width: 90%;
      }
      .remove-btn{
          left: 94.5%;
      }
      #task-form {
          flex-direction: column;
          text-align: center;
      }
      #task-form input, #task-form button {
          width: 50%;
          margin: 10px auto;
      }
  }

  @media only screen and (max-width: 325px) {
      body {
          display: none;
      }
  }